<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesti칩n de Estudiantes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f4f7;
            color: #333;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .header {
            margin-bottom: 20px;
        }
        .header h1 {
            font-size: 36px;
            color: #0056b3;
            margin-bottom: 10px;
        }
        .header p {
            font-size: 18px;
            margin: 5px 0;
        }
        .btn {
            display: inline-block;
            padding: 15px 25px;
            margin: 10px;
            font-size: 18px;
            color: #fff;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .logo {
            width: 150px;
            height: auto;
        }
        .info-box {
            margin: 20px 0;
            padding: 20px;
            background: #e7f0ff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .info-box h2 {
            font-size: 24px;
            margin: 0;
            color: #004085;
        }
        .info-box p {
            font-size: 18px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img img src="/public/imagen/UVM.png" alt="UVM">
            <h1>Gesti칩n de Estudiantes</h1>
            <div class="info-box">
                <h2>Informaci칩n</h2>
                <p>Estudiante: Rhonny Andres Jaimes Gonzalez C.I V-29.718.095</p>
                <p>Materia: Backend Intensivo</p>
                <p>Profesor: Yerson Gonz치lez</p>
            </div>
            <a href="/estudiantes" class="btn">Comenzar</a>
        </div>
    </div>
</body>
</html>
