<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesti칩n de Estudiantes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .container {
            padding: 20px;
        }
        .header {
            background-color: #004080;
            color: white;
            padding: 10px;
            text-align: center;
        }
        .logo {
            max-width: 150px;
            margin: 20px auto;
        }
        .info {
            margin: 20px 0;
        }
        .info h2 {
            margin: 5px 0;
        }
        .info p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Logo de la universidad -->
        <img src="/public/imagen/UVM.png" alt="Logo de la Universidad" class="logo">

        <!-- Informaci칩n del programa -->
        <div class="header">
            <h1>Gesti칩n de Estudiantes</h1>
        </div>

        <div class="info">
            <h2>Estudiante:</h2>
            <p>Rhonny Andres Jaimes Gonzalez</p>
            <p>C.I V-29.718.095</p>
            <h2>Materia:</h2>
            <p>Backend</p>
            <h2>Profesor:</h2>
            <p>Yerson Gonz치lez</p>
        </div>
    </div>
</body>
</html>
